body{
  background-color: black;
}
.homeClass{
  color:white;
}
.homeClass1{
  position: absolute;
  top: 20%;
  left:42%;
  font-weight: bold;
  font-size: 50px;
}
.homeClass2{
  font-size: 70px;
  position: absolute;
  top:25%;
  left:39%;
  font-weight: bolder;
}
ul{
  list-style: none;
  display: flex;
}
ul li:nth-child(1){
  color: red;
}
ul li:nth-child(2){
  color:white;
}
.homeClass3{
  position: absolute;
  top:55%;
  left:29%;
  font-weight: bold;
}
.navClass{
  background-color: aqua;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
}
.form{
  color:white;
}